@model Login

    <form asp-action="Login" asp-controller="Account">

        <div class="d-flex vFullscreen">

            <div class="container-fluid">

                <div class="row">
                    <h3 class="display-4 text-center">Login</h3>
                </div>
                <br />

                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="validation" asp-validation-summary="All"></div>
                    </div>
                </div>
           
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label asp-for="Email" class="col-form-label">Email</label><br />
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label asp-for="Password">Password</label><br />
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                </div>
                <br />

                <div class=" row justify-content-center">
                    <div class="col-4">
                        <button type="submit" class="btn btn-light  btn-block" asp-area="" asp-controller="Home" asp-action="Login">Login</button>
                    </div>
                </div>
                <br />

                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Register">Create Account</a>
                    </div>
                </div>
                <br />

            </div>
        </div>

    </form>

